src/solutions/devhub_DevelopmentHub_Develop/Extract/Workflows/Whenasequentialsolutionmergeismerged-Approvethefir-C976585F-06B4-EA11-A812-000D3A86AD99.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "devhub_sharedcommondataserviceforapps_f7ca3"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_sequential_solution_merge_is_merged_or_cancelled": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "devhub_solutionmerge",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "devhub_mergestrategy eq 353400000 and (statuscode eq 353400001 or statuscode eq 2)"
            },
            "authentication": "@parameters('$authentication')"
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1
            }
          }
        }
      },
      "actions": {
        "Get_the_first_queued_solution_merge": {
          "runAfter": {
            "If_there_is_an_in-progress_solution_merge": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "devhub_solutionmerges",
              "$select": "devhub_approvedon",
              "$filter": "statuscode eq 353400004",
              "$orderby": "devhub_queuedon asc",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "If_there_is_a_queued_solution_merge": {
          "actions": {
            "Set_the_solution_merge_status_to_approved": {
              "runAfter": {},
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "devhub_solutionmerges",
                  "recordId": "@body('Get_the_first_queued_solution_merge')['value'][0]['devhub_solutionmergeid']",
                  "item/statuscode": 353400000
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Triggering update to reviewed on field as triggering by statuscode wasn't working"
            }
          },
          "runAfter": {
            "Get_the_first_queued_solution_merge": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(outputs('Get_the_first_queued_solution_merge')?['body/value'])",
              1
            ]
          },
          "type": "If"
        },
        "Get_in-progress_merge": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "devhub_solutionmerges",
              "$select": "devhub_name",
              "$filter": "devhub_solutionmergeid ne @{triggerOutputs()?['body/devhub_solutionmergeid']} and devhub_mergestrategy eq 353400000 and (statuscode eq 353400000 or statuscode eq 353400003 or statuscode eq 353400002 or statuscode eq 353400006)",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "If_there_is_an_in-progress_solution_merge": {
          "actions": {
            "Terminate": {
              "runAfter": {},
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {
            "Get_in-progress_merge": [
              "Succeeded"
            ]
          },
          "expression": {
            "greater": [
              "@length(outputs('Get_in-progress_merge')?['body/value'])",
              0
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}