Solutions/cap_DevelopmentHub_AzureDevOps/Extract/Workflows/Whenasolutionismerged-Commitchangestosourcecontrol-A52D0AB8-54B1-E911-A97B-002248019881.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_visualstudioteamservices":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_visualstudioteamservices"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cap_solutionmerge","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 809020001"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_target_solution":{"runAfter":{"Get_notes_containing_merged_solution_zips":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cap_solutions","recordId":"@triggerOutputs()?['body/_cap_targetsolution_value']","$select":"cap_uniquename"},"authentication":"@parameters('$authentication')"}},"Get_solution_merge_creator":{"runAfter":{"Get_target_solution":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']","$select":"fullname,internalemailaddress"},"authentication":"@parameters('$authentication')"}},"Get_solution_merge_issue":{"runAfter":{"Get_solution_merge_creator":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cap_issues","recordId":"@triggerOutputs()?['body/_cap_issue_value']","$select":"cap_name,cap_type"},"authentication":"@parameters('$authentication')"}},"Queue_a_new_build":{"runAfter":{"Get_solution_merge_issue":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_visualstudioteamservices","operationId":"QueueNewBuild","apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"},"parameters":{"account":"@outputs('Get_cap_AzureDevOpsOrganization')?['Body']?['environment_variable_value']","project":"@outputs('Get_cap_AzureDevOpsProject')?['Body']?['environment_variable_value']","buildDefId":"@outputs('Get_cap_AzureDevOpsExtractBuildDefinition')?['Body']?['environment_variable_value']","buildDetails/sourceBranch":"master","buildDetails/parameters":"{\n  \"unmanagedNoteId\": \"@{actionBody('Get_notes_containing_merged_solution_zips')?['value'][0]['annotationid']}\",\n  \"managedNoteId\": \"@{actionBody('Get_notes_containing_merged_solution_zips')?['value'][1]['annotationid']}\",\n  \"solution\": \"@{outputs('Get_target_solution')?['body/cap_uniquename']}\",\n  \"triggeredBy\": \"@{outputs('Get_solution_merge_creator')?['body/fullname']}\",\n  \"triggeredByEmail\": \"@{outputs('Get_solution_merge_creator')?['body/internalemailaddress']}\",\n  \"commitMessage\": \"@{if(equals(body('Get_solution_merge_issue')?['cap_type'], 809020001), 'Feature', 'Bug')} - @{outputs('Get_solution_merge_issue')?['body/cap_name']}\"\n}"},"authentication":"@parameters('$authentication')"}},"Get_notes_containing_merged_solution_zips":{"runAfter":{"Get_cap_AzureDevOpsExtractBuildDefinition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","$select":"annotationid","$filter":"_objectid_value eq '@{triggerOutputs()?['body/_cap_targetsolution_value']}'","$orderby":"createdon desc","$top":2},"authentication":"@parameters('$authentication')"}},"Get_cap_AzureDevOpsOrganization":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9bc32b76-754b-ea11-a812-000d3a0b8d0b"},"body":{"text":"cap_AzureDevOpsOrganization"}}},"Get_cap_AzureDevOpsProject":{"runAfter":{"Get_cap_AzureDevOpsOrganization":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9bc32b76-754b-ea11-a812-000d3a0b8d0b"},"body":{"text":"cap_AzureDevOpsProject"}}},"Get_cap_AzureDevOpsExtractBuildDefinition":{"runAfter":{"Get_cap_AzureDevOpsProject":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9bc32b76-754b-ea11-a812-000d3a0b8d0b"},"body":{"text":"cap_AzureDevOpsExtractBuildDefinition"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}