Solutions/cap_DevelopmentHub_AzureDevOps/Extract/Workflows/Whenasolutionismerged-Commitchangestosourcecontrol-A52D0AB8-54B1-E911-A97B-002248019881.json
{
    "properties": {
        "connectionReferences": {
            "shared_commondataserviceforapps_2": {
                "impersonation": {},
                "runtimeSource": "embedded",
                "connection": {},
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            },
            "shared_commondataserviceforapps_1": {
                "impersonation": {},
                "runtimeSource": "embedded",
                "connection": {},
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            },
            "shared_visualstudioteamservices_1": {
                "runtimeSource": "embedded",
                "connection": {},
                "api": {
                    "name": "shared_visualstudioteamservices"
                }
            },
            "shared_commondataservice_1": {
                "runtimeSource": "embedded",
                "connection": {},
                "api": {
                    "name": "shared_commondataservice"
                }
            }
        },
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                }
            },
            "triggers": {
                "When_a_solution_merge_status_is_updated": {
                    "type": "OpenApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataservice",
                            "connectionName": "shared_commondataservice_1",
                            "operationId": "SubscribeOnUpdatedItems"
                        },
                        "parameters": {
                            "dataset": "default.cds",
                            "table": "cap_solutionmerges",
                            "scope": "Organization",
                            "subscriptionRequest/AttributeFilters": [
                                "statuscode"
                            ]
                        },
                        "authentication": "@parameters('$authentication')"
                    },
                    "runtimeConfiguration": {
                        "concurrency": {
                            "runs": 1
                        }
                    }
                }
            },
            "actions": {
                "If_the_status_is_merged": {
                    "actions": {
                        "Get_notes_containing_merged_solution_zips": {
                            "runAfter": {},
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps_2",
                                    "operationId": "ListRecords"
                                },
                                "parameters": {
                                    "entityName": "solutions",
                                    "$select": "annotationid",
                                    "$filter": "_objectid_value eq '@{triggerBody()?['_cap_targetsolution_value']}'",
                                    "$orderby": "createdon desc",
                                    "$top": 2
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Get_target_solution": {
                            "runAfter": {
                                "Get_notes_containing_merged_solution_zips": [
                                    "Succeeded"
                                ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem"
                                },
                                "parameters": {
                                    "entityName": "cap_solutions",
                                    "recordId": "@triggerBody('When_a_solution_merge_status_updates')['cap_targetsolution']",
                                    "$select": "cap_uniquename"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Get_solution_merge_creator": {
                            "runAfter": {
                                "Get_target_solution": [
                                    "Succeeded"
                                ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem"
                                },
                                "parameters": {
                                    "entityName": "systemusers",
                                    "recordId": "@triggerBody('When_a_solution_merge_status_is_updated')['createdby']",
                                    "$select": "fullname,internalemailaddress"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Get_solution_merge_issue": {
                            "runAfter": {
                                "Get_solution_merge_creator": [
                                    "Succeeded"
                                ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "connectionName": "shared_commondataserviceforapps_1",
                                    "operationId": "GetItem"
                                },
                                "parameters": {
                                    "entityName": "cap_issues",
                                    "recordId": "@triggerBody('When_a_solution_merge_status_is_updated')['cap_issue']",
                                    "$select": "cap_name,cap_type"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Queue_a_new_build": {
                            "runAfter": {
                                "Get_solution_merge_issue": [
                                    "Succeeded"
                                ]
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices",
                                    "connectionName": "shared_visualstudioteamservices_1",
                                    "operationId": "QueueNewBuild"
                                },
                                "parameters": {
                                    "account": "ewingmdev",
                                    "project": "Development Hub",
                                    "buildDefId": "Dynamics 365 Extract",
                                    "buildDetails/sourceBranch": "master",
                                    "buildDetails/parameters": "{\n  \"unmanagedNoteId\": \"@{actionBody('Get_notes_containing_merged_solution_zips')?['value'][0]['annotationid']}\",\n  \"managedNoteId\": \"@{actionBody('Get_notes_containing_merged_solution_zips')?['value'][1]['annotationid']}\",\n  \"solution\": \"@{outputs('Get_target_solution')?['body/cap_uniquename']}\",\n  \"triggeredBy\": \"@{outputs('Get_solution_merge_creator')?['body/fullname']}\",\n  \"triggeredByEmail\": \"@{outputs('Get_solution_merge_creator')?['body/internalemailaddress']}\",\n  \"commitMessage\": \"@{outputs('Get_solution_merge_issue')?['body/cap_type']} - @{outputs('Get_solution_merge_issue')?['body/cap_name']}\"\n}"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {},
                    "else": {
                        "actions": {
                            "Extract_not_required": {
                                "runAfter": {},
                                "type": "Terminate",
                                "inputs": {
                                    "runStatus": "Cancelled"
                                }
                            }
                        }
                    },
                    "expression": {
                        "equals": [
                            "@triggerOutputs()?['body/statuscode']",
                            809020001
                        ]
                    },
                    "type": "If"
                }
            },
            "outputs": {}
        }
    },
    "schemaVersion": "1.0.0.0"
}