solutions/devhub_DevelopmentHub_Develop/Extract/Workflows/Whenasolutionmergeismerged-Approvethefirstqueuedso-C976585F-06B4-EA11-A812-000D3A86AD99.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_solution_merge_is_merged":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"devhub_solutionmerge","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 353400001"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_first_queued_solution_merge":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"devhub_solutionmerges","$select":"devhub_approvedon","$filter":"statuscode eq 353400004","$orderby":"devhub_queuedon asc","$top":1},"authentication":"@parameters('$authentication')"}},"If_there_is_a_queued_solution_merge":{"actions":{"Set_the_solution_merge_status_to_approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"devhub_solutionmerges","recordId":"@body('Get_the_first_queued_solution_merge')['value'][0]['devhub_solutionmergeid']","item/statuscode":353400000},"authentication":"@parameters('$authentication')"},"description":"Triggering update to reviewed on field as triggering by statuscode wasn't working"}},"runAfter":{"Get_the_first_queued_solution_merge":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_the_first_queued_solution_merge')?['body/value'])",1]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}