src/solutions/devhub_DevelopmentHub_AzureDevOps/Extract/Workflows/EnvironmentVariableKey-EnvironmentVariableValue-9BC32B76-754B-EA11-A812-000D3A0B8D0B.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Environment Variable Key","type":"string","x-ms-dynamically-added":true,"description":"Please enter the key of the environment variable to retrieve.","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"List_Envionment_Variable_Definitions":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq '@{triggerBody()['text']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_definition":{"foreach":"@outputs('List_Envionment_Variable_Definitions')?['body/value']","actions":{"Set_default_environment_variable_value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Environment Variable Value","value":"@items('Apply_to_each_definition')?['defaultvalue']"}},"List_Environment_Variable_Values":{"runAfter":{"Set_default_environment_variable_value":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$filter":"_environmentvariabledefinitionid_value eq @{items('Apply_to_each_definition')?['environmentvariabledefinitionid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_value":{"foreach":"@outputs('List_Environment_Variable_Values')?['body/value']","actions":{"Set_current_environment_variable_value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Environment Variable Value","value":"@items('Apply_to_each_value')?['value']"}}},"runAfter":{"List_Environment_Variable_Values":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_Envionment_Variable_Definitions":["Succeeded"]},"type":"Foreach"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Environment Variable Value","type":"String"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Apply_to_each_definition":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"environment_variable_value":"@variables('Environment Variable Value')"},"schema":{"type":"object","properties":{"environment_variable_value":{"title":"Environment Variable Value","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}