src/solutions/devhub_DevelopmentHub_AzureDevOps/Extract/Workflows/Whenasolutionismerged-Commitchangestosourcecontrol-A52D0AB8-54B1-E911-A97B-002248019881.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"devhub_sharedcommondataserviceforapps_14f40"},"api":{"name":"shared_commondataserviceforapps"}},"shared_visualstudioteamservices_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"devhub_sharedvisualstudioteamservices_bf2bc"},"api":{"name":"shared_visualstudioteamservices"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_solution_merge_is_merged":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"devhub_solutionmerge","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 353400001"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_target_solution":{"runAfter":{"Get_devhub_AzureDevOpsOrganization":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"devhub_solutions","recordId":"@triggerOutputs()?['body/_devhub_targetsolution_value']","$select":"devhub_uniquename,devhub_azuredevopsproject,devhub_azuredevopsextractbuilddefinitionid"},"authentication":"@parameters('$authentication')"}},"Get_solution_merge_creator":{"runAfter":{"Get_target_solution":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_createdby_value']","$select":"fullname,internalemailaddress"},"authentication":"@parameters('$authentication')"}},"Get_solution_merge_issue":{"runAfter":{"Get_solution_merge_creator":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"devhub_issues","recordId":"@triggerOutputs()?['body/_devhub_issue_value']","$select":"devhub_name,devhub_type,devhub_azuredevopsworkitemid"},"authentication":"@parameters('$authentication')"}},"Queue_a_new_build":{"runAfter":{"Get_solution_merge_issue":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_visualstudioteamservices_1","operationId":"QueueNewBuild","apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"},"parameters":{"account":"@outputs('Get_devhub_AzureDevOpsOrganization')?['Body']?['environment_variable_value']","project":"@outputs('Get_target_solution')?['body/devhub_azuredevopsproject']","buildDefId":"@outputs('Get_target_solution')?['body/devhub_azuredevopsextractbuilddefinitionid']","buildDetails/sourceBranch":"master","buildDetails/parameters":"{\n  \"solutionVersionId\": \"@{triggerOutputs()?['body/_devhub_solutionversion_value']}\",\n  \"solution\": \"@{outputs('Get_target_solution')?['body/devhub_uniquename']}\",\n  \"triggeredBy\": \"@{outputs('Get_solution_merge_creator')?['body/fullname']}\",\n  \"triggeredByEmail\": \"@{outputs('Get_solution_merge_creator')?['body/internalemailaddress']}\",\n  \"commitMessage\": \"@{if(equals(body('Get_solution_merge_issue')?['devhub_type'], 353400001), 'Feature', 'Bug')} - @{outputs('Get_solution_merge_issue')?['body/devhub_name']}\",\n  \"sourceBranch\": \"@{triggerOutputs()?['body/devhub_sourcebranch']}\",\n  \"workItemId\": \"@{outputs('Get_solution_merge_issue')?['body/devhub_azuredevopsworkitemid']}\"\n}"},"authentication":"@parameters('$authentication')"}},"Get_devhub_AzureDevOpsOrganization":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9bc32b76-754b-ea11-a812-000d3a0b8d0b"},"body":{"text":"devhub_AzureDevOpsOrganization"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}