src/solutions/devhub_DevelopmentHub_AzureDevOps/Extract/Workflows/Whenasolutionmergeispendingmerge-Mergethesolutionm-12868E8E-0501-EC11-94EF-000D3AD679AD.json
{
    "properties": {
        "connectionReferences": {
            "shared_commondataserviceforapps": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "devhub_sharedcommondataserviceforapps_f7ca3"
                },
                "api": {
                    "name": "shared_commondataserviceforapps"
                }
            },
            "shared_visualstudioteamservices": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "devhub_sharedvisualstudioteamservices_d7fcb"
                },
                "api": {
                    "name": "shared_visualstudioteamservices"
                }
            }
        },
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "Azure DevOps Organization": {
                    "defaultValue": "ewingjm",
                    "type": "String",
                    "metadata": {
                        "schemaName": "devhub_AzureDevOpsOrganization",
                        "description": "The name of the Azure DevOps organization which contains the source code for the target solutions."
                    }
                }
            },
            "triggers": {
                "When_a_solution_merge_is_pending_merge": {
                    "type": "OpenApiConnectionWebhook",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "SubscribeWebhookTrigger",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "subscriptionRequest/message": 3,
                            "subscriptionRequest/entityname": "devhub_solutionmerge",
                            "subscriptionRequest/scope": 4,
                            "subscriptionRequest/filteringattributes": "statuscode",
                            "subscriptionRequest/filterexpression": "statuscode eq 353400009"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Get_the_project's_merge_pipeline": {
                    "runAfter": {},
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "devhub_solutions",
                            "recordId": "@triggerOutputs()?['body/_devhub_targetsolution_value']",
                            "$select": "devhub_uniquename,devhub_displayname,devhub_description",
                            "$expand": "devhub_Repository($select=devhub_name, devhub_targetbranch, devhub_sourcecontrolstrategy;$expand=devhub_Project($select=devhub_mergepipelineid, devhub_name))"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Queue_a_new_merge_run": {
                    "runAfter": {
                        "Get_the_solution_merge_approver": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_visualstudioteamservices",
                            "operationId": "QueueNewBuild",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices"
                        },
                        "parameters": {
                            "account": "@parameters('Azure DevOps Organization')",
                            "project": "@outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_project/devhub_name']",
                            "buildDefId": "@outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_project/devhub_mergepipelineid']",
                            "buildDetails/parameters": "{\n\"manualMergeActivities\": @{toLower(string(bool(triggerOutputs()?['body/devhub_manualmergeactivities'])))},\n\"sourceControlStrategy\": \"@{if(equals(outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_sourcecontrolstrategy'], 353400000), 'Pull request', 'Push')}\",\n\"sourceBranch\": \"@{triggerOutputs()?['body/devhub_sourcebranch']}\",\n\"DevelopmentHub.DevelopmentEnvironment.Name\": \"@{workflow()['tags']['environmentName']}\",\n\"DevelopmentHub.DevelopmentEnvironment.Url\": \"@{concat('https://', uriHost(outputs('Get_the_project''s_merge_pipeline')?['body/@odata.id']))}\",\n\"DevelopmentHub.ExtractEnvironment.Url\": \"@{outputs('Get_the_extract_environment')?['body/devhub_url']}\",\n\"DevelopmentHub.ExtractEnvironment.CommitHash\": \"@{outputs('Get_the_extract_environment')?['body/devhub_commithash']}\",\n\"DevelopmentHub.SolutionMerge.RecordId\": \"@{triggerOutputs()?['body/devhub_solutionmergeid']}\",\n\"DevelopmentHub.SolutionMerge.MergeStrategy\": \"@{if(equals(triggerOutputs()?['body/devhub_mergestrategy'], 353400000), 'Sequential', 'Parallel')}\",\n\"DevelopmentHub.SolutionMerge.ManualMergeActivities\": \"@{triggerOutputs()?['body/devhub_manualmergeactivities']}\",\n\"DevelopmentHub.SolutionMerge.ApproverEmail\": \"@{outputs('Get_the_solution_merge_approver')?['body/internalemailaddress']}\",\n\"DevelopmentHub.SolutionMerge.CreatorEmail\": \"@{outputs('Get_the_solution_merge_creator')?['body/internalemailaddress']}\",\n\"DevelopmentHub.SolutionMerge.Approver\": \"@{outputs('Get_the_solution_merge_approver')?['body/fullname']}\",\n\"DevelopmentHub.SolutionMerge.Creator\": \"@{outputs('Get_the_solution_merge_creator')?['body/fullname']}\",\n\"DevelopmentHub.SolutionMerge.SourceBranch\": \"@{triggerOutputs()?['body/devhub_sourcebranch']}\",\n\"DevelopmentHub.Issue.DevelopmentSolution\": \"@{outputs('Get_the_issue')?['body/devhub_developmentsolution']}\",\n\"DevelopmentHub.Issue.Name\": \"@{outputs('Get_the_issue')?['body/devhub_name']}\",\n\"DevelopmentHub.Issue.Type\": \"@{if(equals(outputs('Get_the_issue')?['body/devhub_type'], 353400001), 'Feature', 'Bug')}\",\n\"DevelopmentHub.Issue.WorkItemId\": \"@{outputs('Get_the_issue')?['body/devhub_azuredevopsworkitemid']}\",\n\"DevelopmentHub.Issue.RecordId\": \"@{triggerOutputs()?['body/_devhub_issue_value']}\",\n\"DevelopmentHub.TargetSolution.Name\": \"@{outputs('Get_the_project''s_merge_pipeline')?['body/devhub_uniquename']}\",\n\"DevelopmentHub.TargetSolution.Repository\": \"@{outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_name']}\",\n\"DevelopmentHub.TargetSolution.DisplayName\": \"@{outputs('Get_the_project''s_merge_pipeline')?['body/devhub_displayname']}\",\n\"DevelopmentHub.TargetSolution.Description\": \"@{outputs('Get_the_project''s_merge_pipeline')?['body/devhub_description']}\",\n\"DevelopmentHub.Repository.TargetBranch\": \"@{outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_targetbranch']}\",\n\"DevelopmentHub.Repository.SourceControlStrategy\": \"@{if(equals(outputs('Get_the_project''s_merge_pipeline')?['body/devhub_repository/devhub_sourcecontrolstrategy'], 353400000), 'Pull request', 'Push')}\"\n}"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Get_the_extract_environment": {
                    "runAfter": {
                        "Get_the_project's_merge_pipeline": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "devhub_environments",
                            "recordId": "@triggerOutputs()?['body/_devhub_environment_value']",
                            "$select": "devhub_url,devhub_commithash"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Get_the_issue": {
                    "runAfter": {
                        "Get_the_extract_environment": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "devhub_issues",
                            "recordId": "@triggerOutputs()?['body/_devhub_issue_value']",
                            "$select": "devhub_name, devhub_type, devhub_azuredevopsworkitemid, devhub_developmentsolution"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Get_the_solution_merge_creator": {
                    "runAfter": {
                        "Get_the_issue": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "systemusers",
                            "recordId": "@triggerOutputs()?['body/_createdby_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                },
                "Get_the_solution_merge_approver": {
                    "runAfter": {
                        "Get_the_solution_merge_creator": [
                            "Succeeded"
                        ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "connectionName": "shared_commondataserviceforapps",
                            "operationId": "GetItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                            "entityName": "systemusers",
                            "recordId": "@triggerOutputs()?['body/_devhub_approvedby_value']"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "outputs": {}
        }
    },
    "schemaVersion": "1.0.0.0"
}